1. Write a Python program to get the volume of a sphere with radius 6.

In [1]:
def volume(r):
    pie=3.14
    vol=(4/3)*pie*r**3
    return vol
#radius=6
sphere_vol=volume(6)
print("sphere volume",sphere_vol)

sphere volume 904.3199999999999

2. Write a Python program to calculate the sum of three given numbers, if the values are equal then return three times of their sum hint: write User defined functions

In [2]:
def sum_thrice(x, y, z):

     sum = x + y + z
  
     if x == y == z:
      sum = sum * 3
     return sum

print(sum_thrice(1, 2, 3))
print(sum_thrice(3, 3, 3))

6
27

3. Write a Python program to count the number 4 in a given list.

List = [1,4,6,8,4,9,4]

In [3]:
def list_count_4(nums):
    
  count = 0  
  for num in nums:
    if num == 4:
      count = count + 1

  return count

print(list_count_4([1, 4, 6, 7, 4]))
print(list_count_4([1, 4, 6, 4, 7, 4]))

2
3

4. Write a Python program to print all even numbers from a given numbers list in the same order and stop the printing if any numbers that come after 237 in the sequence. Go to the editorSample numbers list :

399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,

815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,

958,743, 527]

In [4]:
def even(nums):
    
    for i in nums:
        
        if i%2==0:
            
            print(i)
        elif i==237:
                break;
            
            
print(even([399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,

815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,

958,743, 527]))

162
758
918
None

5. Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included)

In [5]:
#def division(a,b):
#    for i in range(1500 , 2700 ):
#        if((i%a==0) and (i%b==0)):
#            print(i)

#print(division(7,5))

nl=[]
for x in range(1500, 2700):
    if (x%7==0) and (x%5==0):
        nl.append(x)
#print (','.join(nl))
print(nl)

[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695]

6. Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.

Note : Use 'continue' statement.

Expected Output : 0 1 2 4 5

In [6]:
for x in range(0,6):
    if (x == 3 or x==6):
        continue
    print(x,end=' ')
#print("\n")

0 1 2 4 5

7. Write a Python program to get the Fibonacci series between 0 to 50.

Note : The Fibonacci Sequence is the series of numbers :

0, 1, 1, 2, 3, 5, 8, 13, 21, ....

Every next number is found by adding up the two numbers before it.

Expected Output : 1 1 2 3 5 8 13 21 34

In [7]:
x,y=0,1

while y<50:
    print(y)
    x,y = y,x+y

1
1
2
3
5
8
13
21
34

8. Write a Python program to get the Fibonacci series between 0 to 50.

Note : The Fibonacci Sequence is the series of numbers :

0, 1, 1, 2, 3, 5, 8, 13, 21, ....

Every next number is found by adding up the two numbers before it.

Expected Output : 1 1 2 3 5 8 13 21 34

In [8]:
def fib(n):
    a = 0
    b = 1
    if n == 1:
        print(a)
    else:
        #print(a)
        print(b)
        for i in range(2,n):
            c = a + b
            a = b
            b = c
            print(c)
fib(10)

1
1
2
3
5
8
13
21
34

9. Write a Python function that takes a list and returns a new list with unique elements of the first list.

Sample List : [1,2,3,3,3,3,4,5]

Unique List : [1, 2, 3, 4, 5]

In [9]:
def unique_list(l):
    
  x = []
  for a in l:
    if a not in x:
      x.append(a)
  return x

print(unique_list([1,2,3,3,3,3,4,5]))

[1, 2, 3, 4, 5]